*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Quicksand", sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    color: #333;
}

h2 {
    margin-top: 1rem;
    font-size: 1em;
    text-transform: uppercase;
}

canvas {
    display: block;
    margin: 5rem 0;
}

div {
    display: flex;
}

button {
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    border: none;
    margin: 0 1rem;
    background: #ad1457 center center no-repeat;
    background-size: 60%;
    border-radius: 50%;
    cursor: pointer;
    will-change: transform;
}

button:hover,
button:focus {
    transform: scale(1.15);
}

button:active {
    transform: scale(0.9);
}

button.previous {
    background-image: url("../images/previous.png");
}

button.next {
    background-image: url("../images/next.png");
}

button.play {
    background-image: url("../images/play.png");
}

button.pause {
    background-image: url("../images/pause.png");
}

.fake-canvas {
    display: none;
}
